.root {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 14px;

  text-decoration: none;

  border-radius: 10px;

  color: var(--sidebar-text);

  transition: 0.2s;

  cursor: pointer;
}

.root:hover {
  background: var(--sidebar-hover);
}

.active {
  background: var(--sidebar-active);
  color: var(--sidebar-active-text);
}

.active:hover {
  background: var(--sidebar-hover);
}